*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #141414;
  color: #fff;
  line-height: 1.5;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: clip;
  clip-path: inset(0);
  border: 0;
}

main {
  margin-bottom: 3rem;
}

.container {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 2em 2em;
}

.container.full-width {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-title {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

/* HEADER */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.25rem 2.5rem 2rem;

  color: #fff;

  z-index: 99999;

  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 500;
}

.nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0));
  mask-image: linear-gradient(rgb(20, 20, 20) 75%, rgba(20, 20, 20, 0));
  backdrop-filter: blur(2px);
}

.logo {
  font-size: 1rem;
  text-decoration: none;
  position: relative;
}

.logo a::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.subtitle {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.mobile-menu-toggle {
  display: none;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 3rem;
}

/* ACTIVE NAV UNDERLINE */
.menu .active {
  position: relative;
}

.menu .active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #fff;
}

/* HERO SHOWREEL */
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero .overlay {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  text-align: center;
}

.showreel-link {
  position: relative;
  background-color: #141414;
  border-radius: 0.5rem;
  display: inline-flex;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.showreel-link a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero video {
  width: 100%;
  display: block;
}

/* HIRE SECTION */
.hire {
  background-color: #100f0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hire-text {
  flex: 1;
  padding: 3.75rem;
}

.btn {
  display: inline-block;
  padding: 0.75em;
  border: 1px solid #fff;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background: #fff;
  color: #141414;
}

/* PORTRAIT */
.hire-image {
  flex: 1;
  max-width: 22rem;
}

.hire-image img {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
}

/* CATEGORY LAYOUT */
.categories {
  display: flex;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  gap: 10rem;
  margin: 6.75rem 0;
}

.cat-block {
  position: relative;
  text-align: left;
  margin: 0;
  height: fit-content;
}

.cat-block-cinema {
  flex: 2;
}

.cat-block-photo {
  flex: 1;
}
  
/* Make entire category card clickable */
.cat-block a::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cat-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  width: 100%;
  overflow: hidden;
}

.cat-title-inner {
  display: block;
  width: fit-content;
}

/* Category card title line */
.cat-title-inner > span {
  position: relative;
  display: block;
  margin: 0;
}

.cat-title-inner > span::after {
  content: "";
  position: absolute;
  margin-left: 1rem;
  top: 55%;
  
  width: 200vw;
  height: 1px;
  background: rgba(255, 255, 255, 0.75);
}

.cat-img {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

/* FOOTER */
.footer {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  align-items: center;

  padding: 3.75em;
  border-top: 1px solid rgba(255,255,255,0.1);

  font-size: 0.875rem;
  font-weight: 500;
}

.footer .copyright {
  font-size: 1em;
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
  flex: 1;

  gap: 3em;
}

.category-title {
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;
}

.category-title-inner {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.category-title h2 {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.category-title h2::before,
.category-title h2::after {
  content: "";
  position: absolute;
  top: 55%;
  width: 200vw;
  
  display: inline-block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.category-title h2::before {
  right: 100%;
  margin-right: 1.2rem;
}

.category-title h2::after {
  left: 100%;
  margin-left: 1.2rem;
}

.project {
  margin-bottom: 7.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.project:first-of-type {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

.project-section:last-of-type {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.project-lower {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* IMPORTANT: title higher feel */
  margin-top: 2rem;
  gap: 1rem;
}

/* TEXT SIDE */
.project-text {
  flex: 1;
}

.project-text p {
  margin-top: 0;
  margin-right: 1rem;
}

.project-heading h3 {
  margin: 0;
  margin-top: 2.5rem;
}

/* IMAGE SIDE BIGGER */
.project-image {
  flex: 1.2; /* makes image bigger than text */
}

.project-image img {
  width: 100%;
  height: auto;
  display: block;
}

.project-title {
  margin-bottom: 2rem;
}

.project-subtitle {
  display: inline-block;
  font-size: 0.5em;
  font-weight: 300;
}

.project-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.project-info h2 {
  text-align: right;
  margin: 0;
  font-weight: 300;
}

.project-gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.project-gallery-images img {
  display: block;
  width: 100%;
}

.photo-masonry {
  columns: 4 17.5rem;
  column-gap: 1.5rem;

  margin: 0 auto;
}

.photo-masonry img {
  width: 100%;
  display: block;

  margin-bottom: 1.5rem;

  border-radius: 10px;

  cursor: pointer;

  transition: transform 0.35s ease,
              filter 0.35s ease;
}

.photo-masonry img:hover {
  transform: scale(1.03);
  filter: contrast(1);
}

.lightbox {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.92);

  display: none;
  align-items: center;
  justify-content: center;

  z-index: 999999;
  padding: 2.5rem;
}

.lightbox img {
  max-width: 85vw;
  max-height: 85vh;

  width: auto;
  height: auto;

  object-fit: contain;

  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

.video-embed {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video-embed iframe {
  display: block;
  width: 100%;
  height: 100%;
  border-style: none;
}

.about-page img {
  width: 100%;
  display: block;
}

.about-lower {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.about-hi {
  font-size: 4rem;
  text-align: right;
}

.category-subheading {
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
}

.category-subheading h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.category-subheading h2::after {
  content: "";
  position: absolute;
  margin-left: 1rem;
  top: 50%;
  
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.75);
}

.about-contact {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 2.5rem;
  line-height: 2;
}

.about-contact dd {
  margin-left: 0;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
}

h4 {
  font-size: 2rem;
  font-weight: 300;
}

h5 {
  font-size: 1.25rem;
  font-weight: 300;
}

body {
  font-size: 1.125rem;
  font-weight: 300;
}

.light {
  font-weight: 300;
}

@media screen and (max-width: 45rem) {
  .mobile-menu-toggle {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  /* Hamburger menu icon courtesy of https://codepen.io/designcouch/pen/ExvwPY */
  .mobile-menu-toggle .menu-icon {
    width: 2.5rem;
    aspect-ratio: 2 / 1;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .mobile-menu-toggle .menu-icon span {
    display: block;
    position: absolute;
    height: 0.25rem;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  .mobile-menu-toggle .menu-icon span:nth-child(1) {
    top: 0;
  }

  .mobile-menu-toggle .menu-icon span:nth-child(2),
  .mobile-menu-toggle .menu-icon span:nth-child(3) {
    top: 0.5rem;
  }

  .mobile-menu-toggle .menu-icon span:nth-child(4) {
    top: 1rem;
  }

  .mobile-menu-visible .mobile-menu-toggle .menu-icon span:nth-child(1) {
    top: 0.5rem;
    width: 0%;
    left: 50%;
  }

  .mobile-menu-visible .mobile-menu-toggle .menu-icon span:nth-child(2) {
    transform: rotate(45deg);
  }

  .mobile-menu-visible .mobile-menu-toggle .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .mobile-menu-visible .mobile-menu-toggle .menu-icon span:nth-child(4) {
    top: 0.5rem;
    width: 0%;
    left: 50%;
  }

  .menu {
    position: absolute;
    top: calc(100% - 1rem);
    left: 0;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    background-color: #141414;
    padding: 1rem;
    width: 100%;
    clip-path: rect(0px 100% 0px 0px);
    transition: clip-path 0.6s ease;
    gap: 0;
  }

  .menu a {
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }

  .mobile-menu-visible .menu {
    clip-path: rect(0px 100% 100% 0px);
  }

  .categories {
    flex-direction: column;
    gap: 2rem;
  }

  .cat-block-photo {
    text-align: right;
  }

  .cat-block-photo .cat-title-inner {
    margin-left: auto;
  }

  .cat-block-photo .cat-title-inner > span::after {
    content: none;
  }

  .cat-block-photo .cat-title-inner > span::before {
    content: "";
    position: absolute;
    margin-left: 0;
    margin-right: 1rem;
    top: 55%;
    right: 100%;
    width: 200vw;
    
    display: inline-block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.75);
  }

  .cat-block-photo .cat-img {
    max-height: 30rem;
    width: auto;
    margin-left: auto;
  }

  .hire {
    flex-direction: column;
  }

  .hire-image {
    max-width: none;
  }

  .project {
    margin-bottom: 4rem;
  }

  .project-lower {
    flex-direction: column-reverse;
  }

  .about-lower {
    grid-template-columns: 1fr;
  }

  .about-hi {
    text-align: center;
  }
}
