---
layout: page.njk
title: Single movie
meta: Movie meta
description: Movie description
---
<main class="project-page">
  <div class="container">
    <section class="project-overview">
      <h1 class="project-title">{{ title }} <span class="project-subtitle">(Chill Dude)</span></h1>

      <div class="video-embed">
        <iframe width="100%" src="https://www.youtube.com/embed/{{ youtube_id }}"></iframe>
      </div>

      <div class="project-info">
        <h2>Info</h2>
        <p class="project-desc">{{ description }}</p>
      </div>
    </section>

    <section class="project-gallery">
      <div class="category-subheading">
        <h2>Visuals</h2>
      </div>
      <div class="project-gallery-images">
        {%- for src in images -%}
          <img src="{{ src }}">
        {%- endfor -%}
      </div>
    </section>
  </div>
</main>
