---
title: Page template
---
<!DOCTYPE html>
<html lang="is">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <title>{{ title }} | Unnar Darri</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <!-- HEADER -->
  <header class="nav" id="main-nav">
    <div class="logo">
      <a href="/">Unnar Darri</a>
      <small class="subtitle">Cinematographer</small>
    </div>

    <nav class="menu" id="menu">
      <a class="{{ 'active' if '/cinematography' in page.url }}" href="/cinematography"><span>Cinematography</span></a>
      <a class="{{ 'active' if '/photography' in page.url }}" href="/photography"><span>Photography</span></a>
      <a class="{{ 'active' if '/about' in page.url }}" href="/about"><span>About me</span></a>
    </nav>

    <button class="mobile-menu-toggle" id="mobile-menu-button" aria-controls="site-naviagtion" aria-expanded="false">
      <span class="visually-hidden">Expand menu</span>
      <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>

  </header>

  {{ content | safe }}

  <!-- FOOTER -->
  <footer class="footer">
    <small class="copyright"><span class="subtitle">&copy; 2026</span> Unnar Darri</small>

    <nav class="footer-contact">
      <h2 class="subtitle">Contact</h2>
      <a class="contact-email mobile-btn" href="mailto:unnar@unnardarri.com">Email</a>
      <a class="contact-phone mobile-btn" href="tel:+3548966925">Phone</a>
      <a class="contact-instagram" href="https://instagram.com/unnar_darri">Instagram</a>
      <a class="contact-youtube" href="https://youtube.com/@studiokria">YouTube</a>
    </nav>

  </footer>

  <script src="/js/menu.js" type="module"></script>
</body>
</html>
